<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#{siteData.appTitle}</title>
  include _style
  if idCode !== null
    <meta property="og:image" content="https://edwardtanguay.vercel.app/share/images/techBooks/#{book.idCode}.jpg">
    <meta property="og:url" content="https://pugjs-basic.onrender.com/#{book.idCode}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="#{book.title}">
    <meta property="og:type" content=book>
    <meta property="og:description" content="#{book.description}">
</head>
<body>
  <h1>#{siteData.appTitle}</h1>
  include _nav
  if idCode === null
    <p>These are our current books:</p>
    <div class="books">
      each book in siteData.books
        <a href="/info/#{book.idCode}">
          <img src="https://edwardtanguay.vercel.app/share/images/techBooks/#{book.idCode}.jpg" />
        </a>
    </div>
  if idCode !== null
    <div class="singleBook">
      <img src="https://edwardtanguay.vercel.app/share/images/techBooks/#{book.idCode}.jpg" />
      <div class="info">
        <div class="title">#{book.title}</div>
        <div class="description">#{book.description}</div>
      </div>
    </div>

</body>
</html>
